# Sets the user and password with which the program will connect to PostGreSQL
POSTGRES_USER=user
POSTGRES_PASSWORD=my_password

# Sets the password for the elastic user (at least 6 characters)
ELASTIC_PASSWORD=ofQVYQ7Z